**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.egg-info
**/build/**
**/node_modules/**
**/__pycache__/**
**/*.pyc

dist/images/
dist/dev_sources*
package-lock.json
website/www/**
docs/documentation/.buildinfo
docs/documentation/.doctrees/**

**/.DS_Store
.dalle-venv/
.tydi-venv/
.venv/
.vscode/